/// --- COLORS SCSS ///

// -- PRIMARY COLORS -- //

$bandsite-black: #323232;
// primary text color for light on dark background
// + dark background color

$silver: #afafaf;
// secondary text color
// + inactive CTA color

$white: #ffffff;
// primary text color for light on dark background
// + light background color
// + active CTA text color

//navigation: active and hover + underline

// -- SECONDARY COLORS --//

$bandsite-darkblack: #000000;
// CTA hover state

$mercury: #e1e1e1;
// devider line
// + form field outline

// navigation: inactive links

$alabaster: #fafafa;
//alternative light background color
