/// --- MIXINS SCSS ///
@use "./variables" as *;

// MEDIA QUERIES //

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin flex(
  $flex-direction: column,
  $justify-content: space-between,
  $align-items: center
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin padding-sections {
  padding: 0 1rem;
  @include tablet {
    padding: 0 2rem;
  }
  @include desktop {
    padding: 0 7rem;
  }
}
