/// --- MIXINS SCSS ///
@use "./variables" as *;

// MEDIA QUERIES //

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// PADDING HEADERS
@mixin padding-headers {
  // padding-top: 1.5rem;
  // padding-bottom: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  @include tablet {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}
