/// --- TYPOGRAPY SCSS ///

@use "./colors" as *;
@use "./mixins" as *;
@use "./variables" as *;

//- AvenirNext LT Pro
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"),
    url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"),
    url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"),
    url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

// --- MOBILE FIRST--- //

// PAGE HEADER
@mixin header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  //padding in styleguide doesn't match mockup
  // @include padding-headers;
  @include tablet {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 600;
    // margin-left: 2rem;
  }
}

// SECTION HEADER
@mixin section-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  @include padding-headers;
  @include tablet {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}

// SUBHEADER
@mixin subheader {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  @include padding-headers;
  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

// BODY COPY
@mixin copy {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  @include desktop {
    font-size: 1rem;
  }
}

// FOOTER COPY
@mixin footer-copy {
  @include copy;
  @include tablet {
    line-height: 1.25rem;
  }
}

// PADDING HEADERS
@mixin padding-headers {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  @include tablet {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}
