/// --- BIO PAGE SCSS --- ///

@use "./partials/_typography" as *;
@use "./partials/_colors" as *;
@use "./partials/_mixins" as *;
@use "./partials/_variables" as *;
@use "./partials/global" as *;

// --- MAIN --- //

.bio-main {
  @include flex;
}

///- HERO BIO

.hero {
  @include padding-sections;
  width: 100%;
  height: 60vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url(../assets/images/hero-bio.jpg);

  @include flex(row, normal);
  @include tablet {
    height: 50vh;
  }

  &__page-header {
    @include header;
    color: $white;
    @include tablet;
  }
}

///- ABOUT SECTION

.about {
  @include padding-sections;
  @include tablet {
    @include flex();
  }
  &__header {
    @include section-header;
    @include tablet {
      align-self: flex-start;
    }
    @include desktop {
      padding-bottom: 2rem;
    }
  }

  &__content {
    @include tablet {
      width: 80%;
    }
    @include desktop {
      width: 85%;
    }
  }
  &__image {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1rem;
    @include tablet {
      height: 19.375rem;
      margin-bottom: 1.5rem;
    }
    @include desktop {
      height: 35vw;
    }
  }

  &__quote {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5rem;

    @include tablet {
      font-size: 1.375rem;
      line-height: 2rem;
    }
  }

  &__quote-reference {
    @include tablet {
      font-size: 1rem;
    }
  }

  &__quote-container {
    padding-top: 0.25rem;
    @include desktop {
      padding-top: 0.5rem;
    }
  }

  &__subheader {
    @include subheader;
  }
  &__copy {
    @include copy;
    padding-bottom: 1rem;
    @include tablet {
      display: flex;
      padding-bottom: 2rem;
    }

    &--bottom-right {
      @include tablet {
        padding-left: 1rem;
      }
      @include desktop {
        padding-left: 3rem;
      }
    }
  }
}

/// - GALLERY SECTION

.gallery {
  @include padding-sections;
  background-color: $alabaster;
  flex-wrap: wrap;
  @include flex(column, center, center);
  width: 100%;

  @include tablet {
    @include flex(row, space-between);
    flex-wrap: wrap;
    padding-bottom: 1.5rem;
  }
  @include desktop {
    padding-bottom: 2rem;
    justify-content: space-around;
  }

  &__header {
    @include section-header;
    align-self: flex-start;
    @include tablet {
      align-self: flex-start;
      width: 100%;
    }
  }
  &__image {
    width: 100%;
    padding-bottom: 1rem;
    filter: grayscale(100);
    &:hover {
      filter: grayscale(0);
    }
    @include tablet {
      width: 31%;
      gap: 1rem;
    }
  }
}

/// - COMMENTS SECTION

.comments {
  @include padding-sections;

  &__header {
    @include section-header;
    // align-self: flex-start;
    @include tablet {
      // align-self: flex-start;
      // width: 100%;
    }
  }

  // &__info{
  //  @include copy;
  // }
&__name{
  @include copy;
}
  // &__new {
  //   // display: flex;
  // }
  // &__form {
  //   // padding-left: 16px;
  // }

  // &__form-identity {
  //   // padding-bottom: 16px;
  // }

  // &__form-comment {
  //   // display: flex;
  //   // flex-direction: column;
  //   // margin-left: 2rem;
  // }

  &__form-field {
    min-height: 2.25rem;
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.75rem;
    margin: 4px;
    border: 1px solid $mercury; // default state
    // border: 1px solid $bandsite-black; // active state
    // border: 1px solid #d22d2d; // error state
    @include tablet {
      min-height: 3rem;
      padding: 1rem;
    }
  }
}

//avatar likely used somewhere else too, so it's own class
.avatar {
  &__placeholder {
    // height of the input form name
    height: 2.25rem;
    width: 2.25rem;
    object-fit: cover;
    object-position: 30%;
    background-color: $mercury;
    // rounded corners:
    border-radius: 50%;
    @include tablet {
      height: 3rem;
      width: 3rem;
    }
  }

  &__image {
    @extend .avatar__placeholder;
  }
}

// #name {
//   height: 2rem;
//   border-radius: 5%;
// }
