/// --- BIO PAGE SCSS --- ///

@use "./partials/_typography" as *;
@use "./partials/_colors" as *;
@use "./partials/_mixins" as *;
@use "./partials/_variables" as *;

/// --- MOBILE STYLES --- ///

/// ---- ON ALL SCREEN SIZES ----///
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "AvenirNext LT Pro";
  color: $bandsite-black;
  // set font-size to 1vw
  // font-size: 1.334vw;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/// - LOGO

.logo {
  background-color: $bandsite-black;

  &__image {
    max-height: 1.25rem;
    max-width: 7.5rem;
    width: 7.5rem;
  }
  &:hover {
    transform: scale(1.2);
  }
}
// --- HEADER --- //
.header {
  width: 100vw;
  background-color: $bandsite-black;
  @include flex();
  @include tablet {
    flex-direction: row;
  }
  @include desktop {
  }
  &__logo {
    padding-top: 1rem;
    @include tablet {
      padding-top: 0;
      padding-left: 3rem;
    }
    @include desktop {
      padding-left: 7rem;
    }
    // @include padding-headers;
  }

  /// - NAVIGATION
  // line that rests with bottom margin of nav bar indicates
  // active: $white, bold, underline
  // hover: $white
  // inactive: $mercury

  &__nav {
    width: 100%;
    display: flex;
  }
  &__nav-link {
    color: $white;
    @include copy;
    width: 50%;
    // text-align: center;
    // display: flex;
    // justify-content: space-evenly;
    @include flex(_, space-evenly, _);
    padding: 0.5rem 0;
    @include tablet {
      font-size: 1rem;
      padding: 1.5rem 0;
      width: fit-content;
      margin: 0 2rem;
    }

    &--active {
      border-bottom: 0.2rem solid $white;
      font-weight: 600;
    }
    &--inactive {
      color: $mercury;
      font-weight: 400;
      &:hover {
        border-bottom: 2px dotted $mercury;
      }
    }

    &:hover {
      border-top: 2px dotted $silver;
      border-radius: 50%;
      font-weight: 600;
    }
  }
}

// --- MAIN ---/

.main {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  @include flex;
}

///- HERO

.hero {
  // padding: 0 1rem;
  @include padding-sections;
  position: relative;
  width: 100vw;
  height: 60vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url(../assets/images/hero-bio.jpg);
  // display: flex;
  // align-items: center;
  // margin-bottom: 1rem;
  @include flex(row, normal);

  @include tablet {
    height: 50vh;
    // padding-left: 2rem;
    // padding: 0 2rem;
  }
  @include desktop {
    // padding: 0 7rem;
  }

  &__page-header {
    @include header;
    color: $white;
    @include tablet {
      // padding-left: 2rem;
    }
    @include desktop {
      // padding-left: 7rem;
    }
  }
}

/// - ABOUT SECTION

.about {
  // padding: 0 1rem;
  @include padding-sections;
  @include tablet {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // padding: 0 2rem;
    @include flex();
  }
  // @include desktop {
  //   padding: 0 7rem;
  // }
  &__header {
    @include section-header;
    @include tablet {
      align-self: flex-start;
    }
    @include desktop {
      // padding-left: 7rem;
      padding-bottom: 2rem;
    }
  }

  &__content {
    @include tablet {
      width: 80%;
    }
    @include desktop {
      width: 85%;
    }
  }
  &__image {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1rem;
    @include tablet {
      height: 19.375rem;
      margin-bottom: 1.5rem;
    }
    @include desktop {
      height: 35vw;
    }
  }

  &__quote {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5rem;

    @include tablet {
      // margin-top: 1rem;
      font-size: 1.375rem;
      line-height: 2rem;
    }
  }

  &__quote-reference {
    @include tablet {
      font-size: 1rem;
    }
  }

  &__quote-container {
    padding-top: 0.25rem;
    @include desktop {
      // width: 75%;
      padding-top: 0.5rem;
    }
  }

  &__subheader {
    @include subheader;
  }
  &__copy {
    @include copy;
    padding-bottom: 1rem;
    @include tablet {
      display: flex;
      padding-bottom: 2rem;
    }

    &--bottom-right {
      @include tablet {
        padding-left: 1rem;
      }
      @include desktop {
        padding-left: 3rem;
      }
    }
  }
}

/// - GALLERY SECTION
//!!!!too much padding between hallery and about.. think about puttig about section in its own sections aka header+image ,quote, copy. then add 1rem to end of copy instead of top of gallery or none at all at about section end
.gallery {
  @include padding-sections;
  background-color: $alabaster;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  flex-wrap: wrap;
  @include flex(column, center, center);
  width: 100vw;
  // padding: 0 1rem;
  // margin-bottom: 1rem;
  // gap: 7vw;
  // margin-bottom: 7vw;
  // gap: 1rem;

  @include tablet {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    @include flex(row, space-between);
    flex-wrap: wrap;
    // padding: 0 2rem;
    padding-bottom: 1.5rem;
    // gap: 1.5rem;
  }
  @include desktop {
    // padding: 0 7rem;
    padding-bottom: 2rem;
    justify-content: space-around;
  }

  // &__container {
  //   @include tablet {
  //     margin-left: 2rem;
  //     display: flex;
  //     flex-direction: row;
  //     flex-wrap: wrap;
  //     justify-content: center;
  // }
  // }
  &__header {
    align-self: flex-start;

    @include section-header;
    @include tablet {
      align-self: flex-start;
      width: 100%;
    }
  }
  &__image {
    width: 100%;
    // gap: 1rem;
    padding-bottom: 1rem;
    filter: grayscale(100);
    &:hover {
      filter: grayscale(0);
    }
    @include tablet {
      width: 31%;
      // padding: 0 0.5rem;
      // column-gap: 1rem;
      // padding-bottom: 0;
      gap: 1rem;
    }
  }
}

// --- FOOTER ---//

.footer {
  background-color: $bandsite-black;
  color: $white;
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
  @include flex(column, normal, flex-start);
  padding-bottom: 1rem;
  @include padding-sections;
  // width: 100vw;
  @include tablet {
    padding-bottom: 3rem;
    // padding-top: 0;
  }
  @include desktop {
    padding-bottom: 4rem;
  }
  &__top {
    @include tablet {
      width: 100%;
      // display: flex;
      // align-items: baseline;
      // justify-content: space-between;
      @include flex(_, space-between, baseline);
    }
  }
  &__container {
    // display: flex;
    // flex-direction: column;
    @include flex(column, _, _);
    @include tablet {
      // flex-direction: row;
      // align-items: baseline;
      @include flex(row, _, baseline);
    }
    // align-items: baseline;
  }

  &__header {
    @include section-header;
    @include tablet {
      padding-right: 2.25rem;
    }
  }
  &__link {
    // @include link;
    color: $silver;

    // &--email {
    &:hover {
      color: $white;
      transform: scale(1.2);
    }
  }
  &__icon {
    height: 1.5rem;
    &:hover {
      transform: scale(1.2);
    }
    @include tablet {
      height: 1.5rem;
    }
  }

  &__social {
    width: 85%;
    // display: flex;

    // justify-content: space-between;
    @include flex(_, space-between, _);
    padding-top: 0.5rem;
    @include tablet {
      flex-direction: row;
      height: fit-content;
      width: 8rem;
    }
  }
  &__contact {
    // padding-bottom: 1rem;
    @include tablet {
      width: 100%;
      // display: flex;
      // justify-content: space-between;
      @include flex(_, space-between, _);
    }
  }
  &__contact-block {
    @include tablet {
      // padding: 1rem;
      // padding-right: 3rem;
    }
  }
  &__copy {
    @include footer-copy;
    padding-top: 1rem;
    &--title {
      font-weight: 600;
    }
    //     &__copy-email {
    //     }
  }

  &__logo {
    visibility: visible;
    padding-top: 4rem;
    @include tablet {
      visibility: hidden;
      padding-top: 0;
      // width: 33%;
    }
    //   &__copyright{
  }
  &__logo-top {
    visibility: hidden;

    @include tablet {
      visibility: visible;
    }
  }
}
