@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "AvenirNext LT Pro";
  color: #323232;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.logo {
  background-color: #323232;
  max-height: 20px;
  max-width: 120px;
  padding-top: 24px;
  padding-bottom: 8px;
}

.header {
  width: 100vw;
  display: flex;
  background-color: #323232;
  flex-direction: column;
  align-items: center;
}
.header__nav {
  width: 100%;
  display: flex;
}
.header__nav-link {
  color: #ffffff;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding-top: 24px;
  padding-bottom: 8px;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.header__nav-link--active {
  border-bottom: 2px solid #ffffff;
  font-weight: 700;
}
.header__nav-link--inactive {
  color: #e1e1e1;
  font-weight: 400;
}
.header__nav-link:hover {
  -webkit-text-decoration: underline solid #afafaf;
          text-decoration: underline solid #afafaf;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

.hero {
  width: 100vw;
  height: 23vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.2)), url(../assets/images/hero-bio.jpg);
  display: flex;
  align-items: center;
}
.hero__page-header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  padding-top: 24px;
  padding-bottom: 8px;
  color: #ffffff;
  margin-left: 1rem;
}

.about__header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  padding-top: 24px;
  padding-bottom: 8px;
}
.about__image {
  width: 100%;
  height: 18vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  margin-bottom: 8px;
}
.about__quote {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  padding-top: 4px;
}
.about__subheader {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding-top: 24px;
  padding-bottom: 8px;
}
.about__copy {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding-bottom: 16px;
}

.gallery {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  padding: 0 16px;
}
.gallery__header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  padding-top: 24px;
  padding-bottom: 8px;
}
.gallery__image {
  width: 100%;
  margin-bottom: 16px;
  filter: grayscale(100);
}
.gallery__image:hover {
  filter: grayscale(0);
}

.footer {
  background-color: #323232;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
}
.footer__header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  padding-top: 24px;
  padding-bottom: 8px;
}
.footer__link {
  text-decoration: none;
  color: #ffffff;
}
.footer__contact {
  padding-bottom: 16px;
}
.footer__social {
  display: flex;
  width: 33%;
  justify-content: space-between;
  padding-top: 8px;
}
.footer__copy {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding-top: 16px;
}
.footer__copy--title {
  font-weight: 600;
}/*# sourceMappingURL=bio.css.map */