/// --- BIO PAGE SCSS --- ///

@use "./partials/_typography" as *;
@use "./partials/_colors" as *;
@use "./partials/_mixins" as *;
@use "./partials/_variables" as *;
@use "./partials/global" as *;

// --- MAIN --- //

.bio-main {
  @include flex;
}

///- HERO BIO

.hero {
  @include padding-sections;
  width: 100%;
  height: 60vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url(../assets/images/hero-bio.jpg);

  @include flex(row, normal);
  @include tablet {
    height: 50vh;
  }

  &__page-header {
    @include header;
    color: $white;
    @include tablet;
  }
}

///- ABOUT SECTION

.about {
  @include padding-sections;
  @include tablet {
    @include flex();
  }
  &__header {
    @include section-header;
    @include tablet {
      align-self: flex-start;
    }
    @include desktop {
      padding-bottom: 2rem;
    }
  }

  &__content {
    @include tablet {
      width: 80%;
    }
    @include desktop {
      width: 85%;
    }
  }
  &__image {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1rem;
    @include tablet {
      height: 19.375rem;
      margin-bottom: 1.5rem;
    }
    @include desktop {
      height: 35vw;
    }
  }

  &__quote {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
    @include tablet {
      font-size: 1.375rem;
      line-height: 2rem;
    }
    @include desktop {
      width: 80%;
    }
  }

  &__quote-reference {
    @include tablet {
      font-size: 1rem;
    }
  }

  &__quote-container {
    padding-top: 0.25rem;
    @include desktop {
      padding-top: 0.5rem;
    }
  }

  &__subheader {
    @include subheader;
  }
  &__copy {
    @include copy;
    padding-bottom: 1rem;
    @include tablet {
      display: flex;
      padding-bottom: 2rem;
    }

    &--bottom-right {
      @include tablet {
        padding-left: 1rem;
      }
      @include desktop {
        padding-left: 3rem;
      }
    }
  }
}

/// - GALLERY SECTION

.gallery {
  @include padding-sections;
  background-color: $alabaster;
  flex-wrap: wrap;
  @include flex(column, center, center);
  width: 100%;

  @include tablet {
    @include flex(row, space-between);
    flex-wrap: wrap;
    padding-bottom: 1.5rem;
  }
  @include desktop {
    padding-bottom: 2rem;
    justify-content: space-around;
  }

  &__header {
    @include section-header;
    align-self: flex-start;
    @include tablet {
      align-self: flex-start;
      width: 100%;
    }
  }
  &__image {
    width: 100%;
    padding-bottom: 1rem;
    filter: grayscale(100);
    &:hover {
      filter: grayscale(0);
    }
    @include tablet {
      width: 31%;
      gap: 1rem;
    }
  }
}

/// - COMMENTS SECTION
input {
  background-color: $alabaster;
}
//comments section
.avatar-form {
  padding-top: 1.5rem;
}
.comments {
  width: 100%;
  @include padding-sections;

  &__header {
    @include section-header;
    // align-self: flex-start;
    @include tablet {
      // align-self: flex-start;
      // width: 100%;
    }
  }
  // &__article {
  //   display: flex;
  //   justify-content: space-between;
  // }
  &__form {
    // padding-left: 16px;
    display: flex;
    @include tablet {
      margin: 0rem 4rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #e1e1e1;
    }
    @include desktop {
      margin: 0rem 16rem;
    }
  }
  &__field-container {
    width: 100%;
    padding: 0 1rem;
    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }
  // &__new {
  //   // display: flex;
  // }

  &__form-name {
    @include small-title;
    padding: 0 0 1rem 0;
  }
  // &__form-identity {
  //   // padding-bottom: 16px;
  // }

  &__form-comment {
    color: $silver;
    font-size: 0.7rem;
    font-weight: 600;
    margin: 8px 0;
  }

  &__form-field {
    min-height: 2.25rem;
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid $mercury;
    color: black;
    // default state border: 1px solid $mercury
    // active state $bandsite-black;
    //error state #d22d2d;
    &--active {
      border-color: $bandsite-black;
    }

    &--error {
      // background-color: #d22d2d;
      border-color: #d22d2d;
    }
    &--error-message {
      color: #d22d2d;
    }
    //overwriting this default setting that seems to be applied on the "ouline"
    &:focus-visible {
      outline-color: $bandsite-black;
    }
    @include tablet {
      min-height: 3rem;
      padding: 1rem;
    }
  }
}

#comment {
  height: 4rem;
  @include tablet {
    height: 5rem;
  }
}

//avatar likely used somewhere else too, so it's own class
.avatar {
  object-position: 30%;
  height: 2.25rem;
  width: 2.25rem;
  object-fit: cover;
  object-position: 30%;
  border-radius: 50%;

  @include tablet {
    height: 3rem;
    width: 3rem;
  }
  &__placeholder {
    background-color: $mercury;
    @extend .avatar;
  }

  &__image {
    @extend .avatar;
  }
}

.comment {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e1e1e1;

  @include tablet {
    padding: 2rem 0;
  }

  &__container {
    margin: 1rem 0;
    @include tablet {
      padding: 0 4rem;
      margin: 3rem 0;
    }
    @include desktop {
      padding: 0 16rem;
    }
  }

  &__info {
    padding: 0 1rem;
    width: 100%;
  }
  &__info-container {
    @include copy;
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
  }

  &__name {
    @include copy;
    font-weight: 600;
  }
  &__date {
    @include copy;
    color: $silver;
  }
  &__comment {
    @include copy;
    // font-weight: 600;
    width: 100%;
  }
}

.like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  // padding-left: 10px;
  border-radius: 6px;
  height: 50px;
  // padding: 10px;
  // width: ;
  margin: 0;
  padding: 0;
  @include copy;
  font-size: 12px;
  color: $silver;
}
.like-button:hover {
  cursor: pointer;
  filter: grayscale(0.5);
  opacity: 0.75;
}

.delete-button {
  // padding-top: 1rem;
  margin: 0;
  padding: 0;
  @extend .like-button;
}
