@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "AvenirNext LT Pro";
  color: #323232;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.logo {
  background-color: #323232;
}
.logo__image {
  max-height: 1.25rem;
  max-width: 7.5rem;
  width: 7.5rem;
}
.logo:hover {
  transform: scale(1.2);
}

.header {
  width: 100%;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
  }
}
.header__logo {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 0;
    padding-left: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    padding-left: 7rem;
  }
}
.header__nav {
  width: 100%;
  display: flex;
}
.header__nav-link {
  color: #ffffff;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  width: 50%;
  display: flex;
  flex-direction: _;
  justify-content: space-evenly;
  align-items: _;
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .header__nav-link {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav-link {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .header__nav-link {
    font-size: 1rem;
    padding: 1.5rem 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 2rem;
  }
}
.header__nav-link--active {
  border-bottom: 0.2rem solid #ffffff;
  font-weight: 600;
}
.header__nav-link--inactive {
  color: #e1e1e1;
  font-weight: 400;
}
.header__nav-link--inactive:hover {
  border-bottom: 0.125rem dotted #ffffff;
}
.header__nav-link:hover {
  border-top: 0.125rem dotted #afafaf;
  border-radius: 50%;
  font-weight: 600;
}

.button {
  height: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
  color: #ffffff;
  background-color: #323232;
  border-color: #323232;
  font-weight: 700;
  font-size: 1rem;
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  .button {
    min-width: 9.375rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 2rem;
    align-self: flex-end;
  }
}
.button:hover {
  background-color: #000000;
  border-color: #000000;
}

.footer {
  padding: 0 1rem;
  background-color: #323232;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: flex-start;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 0 7rem;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-bottom: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__top {
    width: 100%;
    display: flex;
    flex-direction: _;
    justify-content: space-between;
    align-items: baseline;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: _;
  align-items: _;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: _;
    align-items: baseline;
  }
}
.footer__header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .footer__header {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) {
  .footer__header {
    padding-right: 2.25rem;
  }
}
.footer__link {
  color: #afafaf;
}
.footer__link:hover {
  color: #ffffff;
  transform: scale(1.2);
}
.footer__icon {
  height: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__icon {
    height: 1.5rem;
  }
}
.footer__icon:hover {
  transform: scale(1.2);
}
.footer__social {
  width: 85%;
  display: flex;
  flex-direction: _;
  justify-content: space-between;
  align-items: _;
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .footer__social {
    flex-direction: row;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 8rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact {
    width: 100%;
    display: flex;
    flex-direction: _;
    justify-content: space-between;
    align-items: _;
  }
}
.footer__copy {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__copy {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copy {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__copy {
    line-height: 1.25rem;
  }
}
.footer__copy--title {
  font-weight: 600;
}
.footer__logo {
  visibility: visible;
  margin-top: 4rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    visibility: hidden;
    padding-top: 0;
  }
}
.footer__logo-top {
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .footer__logo-top {
    visibility: visible;
  }
}

.hero {
  padding: 0 1rem;
  padding: 3rem 1rem;
  width: 100%;
  height: 80vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-shows.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding: 0 7rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70vw;
    justify-content: space-between;
  }
}
.hero__copy {
  color: #ffffff;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .hero__copy {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__copy {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .hero__copy {
    font-size: 1.5rem;
  }
}
.hero__page-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #ffffff;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .hero__page-header {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) {
  .hero__page-header {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}
.soundcloud {
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .soundcloud {
    width: 55%;
  }
}
@media screen and (min-width: 1280px) {
  .soundcloud {
    width: 40%;
    height: 15%;
  }
}

.shows {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .shows {
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    display: flex;
    justify-content: space-between;
  }
}
.shows__header {
  margin-bottom: 16px;
  padding: 0 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .shows__header {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__header {
    padding: 0 7rem;
  }
}
@media screen and (min-width: 768px) {
  .shows__header {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .shows__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) {
  .shows__header {
    align-self: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .shows__header {
    padding-bottom: 2rem;
  }
}

.show {
  padding: 0 1rem;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .show {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .show {
    padding: 0 7rem;
  }
}
.show:hover {
  background-color: #fafafa;
}
.show--active {
  background-color: #e1e1e1;
}
.show--active:hover {
  background-color: #e1e1e1;
}
@media screen and (min-width: 768px) {
  .show {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
.show__info-container {
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  .show__info-container {
    width: 20%;
  }
}
.show__info-title {
  color: #afafaf;
  font-size: 0.7rem;
  font-weight: 600;
  margin: 8px 0;
}
.show__info-value {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .show__info-value {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 1280px) {
  .show__info-value {
    font-size: 1rem;
  }
}
.show__info-value--date {
  font-weight: 600;
}
.show__title-wrapper {
  display: none;
}
@media screen and (min-width: 1280px) {
  .show__title-wrapper {
    display: flex;
  }
}

/* 
 * Select all but the first .red child of .home,
 * and remove the border from the previous rule.
 */
.show .show__info-title ~ .show__info-title {
  color: yellow;
}

/* 
 * Select all but the first .red child of .home,
 * and remove the border from the previous rule.
 *//*# sourceMappingURL=shows.css.map */